<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home - LightNEasy</title>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv='Content-Language' content='en_US' />
<meta http-equiv='Content-Script-Type' content='text/javascript' />
<meta http-equiv='Content-Style-Type' content='text/css' />
<meta name='keywords' content='LightNEasy, CMS, Content Management, PHP, Free CMS, Website builder, Open Source' />
<meta name='description' content='LightNEasy is a light and simple Content Management System and Website Builder' />
<meta name='author' content='Fernando Baptista' />
<meta name='Robots' content='index,follow' />
<meta http-equiv='imagetoolbar' content='no' /><!-- disable IE's image toolbar -->
<link rel='stylesheet' type='text/css' href='style.css' />
<!--<meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
</head>
<body>
<div id="container">
<div id="container1">
	<div id="header">
		<div class="toplinks">
			<a href="index.php?do=sitemap">Site Map</a> | <a href="?do=login">Login</a>
		</div>
		<h1 class="title"><a href="./">LightNEasy</a></h1>
		<h2 class="subtitle">Light, simple, practical</h2>
		<div id="menu">
			<ul>
				<li><a class="selected" href="index.php"><span>Home</span></a></li>
				<li><a href="about.php"><span>About</span></a></li>
				<li><a href="news.php"><span>News</span></a></li>
			</ul>
		</div>
	</div>
	<div id="holder">
		<div id="maincontent">
			<h1>LightNEasy 2.2.1 index page</h1>
			<p>If you are seeing this, that means <strong>LightNEasy</strong> installation worked!</p><p>This is the start page of your website. <strong>You should never delete this page!</strong> Instead, edit its content and enter whatever you want as content for this page. You can also alter the menu label (edit the menu). But there should always exist a page which filename is <b>index</b>.</p>
			<p>Report to <a href="http://lightneasy.org">LightNEasy website</a> to look at the instructions manual and how to use LightNEasy functionalities.</p>
			<p>Login, using the password you entered, chose the template you want or make your own LightNEasy template, and start building your website!</p>
			<p>Take a look at the bundled template files and see how easy it is to build a LightNEasy template!</p>
		</div>
		<div class="rightcolumn">
			<div class="content">
				<h2 class="title">Home</h2>
				<div class="block">
					<ul>
						<li class="LNE_menu"><a class="selected" href="index.php">Home</a></li>
						<li class="LNE_menu_intend"><a href="home1.php">Home Submenu</a></li>
						<li class="LNE_menu_doubleintend"><a href="home2.php">Home Sub-submenu</a></li>
						<li class="LNE_menu"><a href="about.php">About</a></li>
						<li class="LNE_menu"><a href="news.php">News</a></li>
					</ul>
				</div>
				<h2 class="title">Extra</h2>
				<div class="block">
					<p align="left">This is an extra content that you can create to include in <strong>all your pages</strong>. This is usefull for announcements and news. Just place the <strong>$#extra#$</strong> tag wherever you want it on the template.</p><p align="left">You can edit it from the <strong>Settings</strong> menu.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright © 2009 LightNEasy - <a href="http://lightneasy.org">LightNEasy 2.2.1</a> Original design by <a href="http://www.fernbap.com">fernbap</a></p>
	</div>
</div>
</div>
</body>
</html>
