html {
  height: 100%;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

body {
  margin: 8px auto 4px auto;
/*  padding: 0 0 0 0; */
  padding: 4px 20px 10px 20px;
}

/*#page {
  padding: 0 0 0 8px;
  margin: 0 0 0 0;
}

#page {
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
} */

#header {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#header_images {
  width: 100%;
}

.clear-block{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#sidebar-left {
  margin: 0 0 0 0;
  padding: 0 5px 0 0;
  float:left;
}

.block-menu{
  margin: 8px 0 0 0;
  padding: 0 0 0 0;
}

.block-menu h2{
  margin: 0 0 0 0;
  padding: 8px 0 4px 4px;
}

#main {
  float:right;
  text-align: justify;
  margin: 0 0 0 0;
  padding: 8px 0 0 5px;
}

#slogan {
  margin: 0 0 8px 0;
  padding: 0 0 0 0;
}

#footer {
  font-size: 80%;
  margin: 0.5em 0 1.5ex 0;
  padding: 0 0 0 0;
  width: 100%;
  font-weight: bold;
  display: block;
}

#footer p{
/*  margin: 0.5em 0 0.5ex 0; */
  margin: 0 0 0 0;
  padding: 0.75ex 0 0 0;
}

#footer .left{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  float: left;
  clear: left;
}

#footer .right{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: right;
/*  float: right;
  position: relative; */
}

